.tip {
  border: 2px solid green;
}

.item {
  background: white;
}

.item.live {
  background: yellow;
}

app-main > .menu:not(.current) > .question,
.menu > menu > li > .menu:not(.current) > .question,
.recipe > li > .menu:not(.current) > menu > li > .item,
.item:not(.live) {
  background: red;
}
