:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

:root {
  interpolate-size: allow-keywords;
  --item-width: 100%;
  --item-height: 100px;
  --item-margin: 10px;
  --icon-width: 50px;
  --icon-size: 40px;
  --border-width: 5px;
  --border-radius: 10px;
  --animation-unit: 0.5s;
}

body {
  display: flex;
  flex-direction: column;
  flex: auto 1 1;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}

.wrap {
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;
  overflow-y: scroll;
}

app-main,
app-main .choicelist,
app-main menu,
app-main ol,
app-main li,
app-main h1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0;
  margin: 0px;
  padding: 0px;
  border: none;
}

app-main button {
  appearance: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
}

app-main .item {
  width: var(--item-width);
  height: var(--item-height);
  opacity: 1;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  display: flex;
}

app-main .item > * {
  position: relative;
  left: var(--item-margin);
  top: var(--item-margin);
  display: flex;
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
  width: calc(var(--item-width) - 2 * var(--item-margin) - var(--icon-width));
  height: calc(var(--item-height) - 2 * var(--item-margin));
  border: var(--border-width) solid black;
  border-radius: var(--border-radius);
  background-color: white;
  font-size: large;
}

app-main .item {
  animation: var(--animation-unit) var(--animation-unit) backwards grow,
    var(--animation-unit) calc(2 * var(--animation-unit)) backwards fade-in;
}

app-main > .menu > .title,
app-main > .menu > menu > li > .item {
  animation: none;
}

app-main .menu:not(.current) > .title,
app-main .menu:not(.current) > menu > li:not(.selected) > .item,
app-main .recipe > li > .choicelist:not(.current) > menu > li > .item {
  animation: var(--animation-unit) forwards fade-out,
    var(--animation-unit) var(--animation-unit) forwards shrink;
}

app-main .item::before {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--icon-size);
  width: var(--icon-width);
  content: "✔️";
}

app-main .menu > .title::before {
  content: "🤔";
}

app-main .step.current > .title::before {
  content: "😀";
}

app-main menu > li:not(.selected) > .item::before,
.step > menu > li > .item::before {
  content: "💭";
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes shrink {
  to {
    width: 0px;
    height: 0px;
    display: none;
  }
}

@keyframes grow {
  from {
    display: none;
    width: 0px;
    height: 0px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
