:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

:root {
  --item-width: 200px;
  --item-height: 200px;
  --item-margin: 10px;
  --animation-unit: 0.5s;
}

.wrap {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: scroll;
}

app-main,
app-main .menu,
app-main menu,
app-main ol,
app-main li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0;
  margin: 0px;
  padding: 0px;
  border: none;
}

app-main menu {
  flex-direction: row;
  justify-content: center;
}

app-main .item {
  width: var(--item-width);
  height: var(--item-height);
  opacity: 1;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

app-main .item > * {
  position: relative;
  left: var(--item-margin);
  top: var(--item-margin);
  display: block;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: calc(var(--item-width) - 2 * var(--item-margin));
  height: calc(var(--item-height) - 2 * var(--item-margin));
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
}

.item.live {
  animation: var(--animation-unit) grow-fade-in backwards;
}

.menu > menu > li > .menu > .question.live,
.menu > menu > li > .menu > menu > li > .option.live,
.menu > menu > li > .recipe > li:first-child > .step.live {
  animation-delay: calc(1.5 * var(--animation-unit));
}

.question:not(.live) {
  animation: var(--animation-unit) var(--animation-unit) fade-out-shrink
    forwards;
}

.option:not(.live) {
  animation: var(--animation-unit) fade-out-shrink forwards;
}

@keyframes fade-out-shrink {
  0% {
    opacity: 1;
    width: var(--item-width);
    height: var(--item-height);
  }

  50% {
    opacity: 0;
    width: var(--item-width);
    height: var(--item-height);
  }

  100% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
}

@keyframes grow-fade-in {
  0% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }

  50% {
    opacity: 0;
    width: var(--item-width);
    height: var(--item-height);
  }

  100% {
    opacity: 1;
    width: var(--item-width);
    height: var(--item-height);
  }
}
